body{
    background: #000;
    font-size: 20px;
}
h2{
    color: red;
    font-family: 'Courier New', Courier, monospace;

}
.container{
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
}
